altgraph==0.17.5
blinker==1.9.0
caldav==3.3.1
charset-normalizer==3.5.2
click==8.4.1
dnspython==2.8.0
Flask==3.1.3
h11==0.16.0
icalendar==7.3.0
icalendar-searcher==1.0.6
itsdangerous==2.2.0
jh2==5.0.15
Jinja2==3.1.6
lxml==6.1.3
macholib==1.16.4
MarkupSafe==3.0.3
niquests==3.21.2
packaging==26.2
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
python-dateutil==2.9.0.post0
python-dotenv==1.2.4
PyYAML==6.0.3
qh3==2.0.4
recurring-ical-events==3.8.2
setuptools==82.0.1
six==1.17.0
tzdata==2026.4
urllib3-future==2.25.901
wassima==2.1.4
Werkzeug==3.1.8
x-wr-timezone==2.0.1
